@font-face {
    font-family: "PolySans Neutral";
    src: url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.eot");
    src: url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.svg#PolySans Neutral")format("svg");
}
/* @import url(https://db.onlinewebfonts.com/c/03bd7255184e8e8ad4d2a521fa920b6c?family=PolySans+Neutral); */
@font-face {
    font-family: sans;
    src: url(fonts/5d258b355fefebcb-s.p.woff2);
}
@font-face {
    font-family: sans1;
    src: url(fonts/0597bc4c731eb732-s.p.otf);
}
@font-face {
    font-family: sans2;
    src: url(fonts/0597bc4c731eb732-s.p.otf);
}
@font-face {
    font-family: sans3;
    src: url(fonts/0597bc4c731eb732-s.p.otf);
}
@font-face {
    font-family: sans4;
    src: url(fonts/0597bc4c731eb732-s.p.otf);
}
@font-face {
    font-family: sans5;
    src: url(fonts/0597bc4c731eb732-s.p.otf);
}
@font-face {
    font-family: sans6;
    src: url(fonts/0597bc4c731eb732-s.p.otf);
}
@font-face {
    font-family: sans7;
    src: url(fonts/0597bc4c731eb732-s.p.otf);
}

@font-face {
    font-family: sans8;
    src: url(fonts/0597bc4c731eb732-s.p.otf);
}

body{
    font-family:sans;
    margin: 0;
    
}
p{
    margin: 0;
}
:where(*, *::before, *::after) {
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    word-wrap: break-word;
}


.header{
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px;
    border: #F6F6F6;
    transition: all .5s ease-in-out;
    width: 100%;

}

.header-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 1.5rem;
    padding-inline-end:1.5rem ;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 4rem;
}
.header-container-elm1{
    display: flex;
    gap: 1rem;
    flex: 1;
    height: 100%;
    justify-content: flex-start;
}

.header-container-elm1-a{
    text-decoration: underline;
    outline: 2px solid transparent;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 700;
    position: relative;
    display: flex;
    flex-shrink: 0;
    color: #171A53
}
.header-container-elm1-a img{
    position: relative;
    display: block;
    width: 100%;
    max-width: 80px;
    z-index: 1;
}

.header-container-elm2{
    display: flex;
    position: relative;
    gap: .5rem;
}


.header-container-elm2-search{
    display: block;

}


.header-container-elm2-search button{
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 100%;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.2s;
    height: 3rem;
    width: 3rem;
    padding: 0px;
    background: transparent;
    border-radius:99999px;
}
.header-container-elm2-search svg{
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentcolor;
    vertical-align: middle;
    height: 32px;
    width: 32px;
}

.header-container-elm1-div{
    display: none;
}
.display-none{
    display: block;
}
.display-block{
    display: none;
}
.display-none-1535{
    display: none;
}
.display-block-1535{
    display: block;
}
.main{
    overflow: hidden;
    position: relative;
}
.main-container{
    height: 100%;
    left: 50%;
    position: absolute;
    width:2000px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main-container-img{
    bottom: 0px;
    height: 100%;
    left: 0px;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 230px;
    width: 100%;
}
.main-container-img img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
    color: transparent;
}
.main-comtainer2{
    width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    margin: auto;
    max-width: 100%;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
}


.main-container2-elm1{
    padding: 24px 0px;
}
.main-container2-elm1 .school{
    font-size: 0.75rem;
    line-height: 150%;
    margin: 0;
}
.main-container2-elm1 h1{
    font-family:"PolySans Neutral" ;
    font-weight: 500;
    font-size: 40px;
    line-height: 3rem;
    margin: 0;
    margin-top: -4px;
    margin-bottom: 4px;
    /* letter-spacing: -1.5px; */
    /* height: 96px; */
}
.space{
    height: 24px;
}
.para{
    font-size: 1rem;
    line-height: 150%;
    margin: 0;
}
.space2{
    height: 12px;
}
.view-program-btn{
    display: flex;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: baseline;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1rem;
    transition: all .2s;
    height: auto;
    color: #2015FF;
    align-items: center;
}
.view-program-btn svg{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentColor;
    vertical-align: middle;
}
.main-container2-elm2{
    align-self: flex-end;
}
.main-container2-elm2 img{
    max-width: 100%;
    height: auto;
}
.main-container-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

.learning-block{
    background-color: #fff;
    border-bottom: 1px solid;
    border-bottom-color: #B0B0B0;
    padding-top: 40px;
    padding-bottom: 40px;
}
.learning-block1{
    width: 100%;
    padding-inline: 16px;
    word-spacing: -1px;
    margin: 2px 0 -2px 0;
}
.learning-block1 h2{
    font-family:"PolySans Neutral" ;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: -4px 0 4px 0;

}
.learning-block1 div{
    height: 17px;
}
.learning-block2{
    position: relative;
    display: block;
}
.learning-block2-elm1{
    max-width: 70rem;
    overflow-x: auto;
    overflow-y: hidden;
}
.learning-block2-elm1 div{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: solid 3px gray;
    padding-inline: 16px;
}
.learning-block2 div button{
    font-family: sans;
    display: flex;
    border-color:#2015FF ;
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: -2px;
    /* color:#2015FF ; */
    /* border-bottom: solid 4px; */
    padding-bottom: 9px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    align-items: center;
    justify-content: center;
    padding: .75rem 1rem;
    transition: color 0.2s;
    position: relative;
    white-space: nowrap;
    background-color: #fff;
}

.learning-block2 div button:first-child{
    border-bottom: solid 4px;
    color:#2015FF ;
    font-weight:600 ;
    padding-bottom: 9px;
}
.learning-block2-elm2{
    padding-inline: 16px;
    max-width: 100%;
    margin: auto;
}
.learning-block2-elm2-main{
    width: 100%;
}
.learning-element{
    padding: 23px 0px 0px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.learning-element p{
    margin: 0;
}

.learning-element-para{
    font-size: 1rem;
    line-height: 150%;
}
.learnig-space{
    height: 40px;
}


.learnig-para{
    font-family:sans ;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}
.learnig-space2{
    height: 8px;
}
.learning-element ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.learning-element ul li{
    width: 100%;
    border: solid 1px;
    border-color: #C7C7C7;
    border-radius: 4px;
    background-color: #F6F6F6;
    display: flex;
    gap: 24px;
    padding: 24px;
    width: 100%;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 66px;

}


.learning-cotent{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.learning-cotent-elm1{
    font-size: 0.75rem;
    line-height: 150%;
    position: absolute;
    top: 24px;
}
.learning-cotent-elm2 article{
    /* margin-top: 24px; */
    min-width: 190px;
}
.learning-cotent-elm1 article{
    border: 1px solid;
    border-color: #DFDFDF;
    border-radius: 6px;
    height: 292px;
    padding: 0.25rem;
    position: relative;
    transition: all 0.3s ease-in-out;

}

.learning-cotent-elm2-sub{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}
.learning-cotent-elm2-sub-img{
    display: flex;
    border-radius: 4px;
    padding: 8px;
    position: relative;
    flex: 0 0 100px;
    height: 100px;
    overflow: hidden;
}
.learning-cotent-elm2-sub-img img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    border-radius: 4px;
    pointer-events: none;
}
.learning-cotent-elm2-sub-content{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: -4px;
    margin-left: -4px;
    margin-right: -4px;
    padding: 0.75rem;
}
.learning-cotent-elm2-sub-content a{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #0B0B0B;
}
.learning-cotent-elm2-sub-content-elm{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 37px;
}
.learning-cotent-elm2-sub-content-elm1{
    display: flex;
    gap: 4px;
}
.learning-cotent-elm2-sub-content-elm1 div{
    display: flex;
}
.learning-cotent-elm2-sub-content-elm1 div svg{
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: #FDC353;
    vertical-align: middle;
}

.learning-cotent-elm2-sub-content-elm1 p{
    font-size: 0.75rem;
    line-height:150%;
    color: #696969;
    font-weight: 600;
    margin: 0;
}
.learning-cotent-elm2-sub-content-elm2{
    display: flex;
    border-top: 1px solid;
    border-top-color: #F6F6F6;
    flex-direction: column;
    padding-top: 0.75rem;
}
.learning-hours{
    display: flex;
    align-items: center;
    flex-basis: 18px;
    font-weight: 500;
    color: #696969;
    gap: 0.25rem;
}
.learning-hours svg{
    width: 1em;
    height: 1em;
    color: currentColor;
}
.learning-hours p{
    font-size: 0.75rem;
    line-height: 150%;
}

.learning-head{
    font-size: 1rem;
    line-height: 150%;
    font-weight: 600;
}
.learning-para{
    font-size: 1rem;
    line-height: 150%; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; 
    max-height: calc(1.5em * 7); 
}


.popular-block{
    width: 100%;
    padding-inline: 16px;
    margin: auto;
    max-width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.popular-block h2{
    /* font-family: ; */
    font-size: 1.125rem;
    line-height: 1.68rem;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.popular-block-ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    grid-auto-columns: 190px;
    padding-inline: 16px;
    padding-left: 0;
}
.development-block{
    width: 100%;
    margin: auto;
    max-width: 100%;
    margin-top: 64px;
    margin-bottom: 64px;
    /* padding-inline: 16px; */
}
article{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #DFDFDF;
}

.development-block h2{
    font-family:"PolySans Neutral" ;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.development-block-elm{
    overflow-x: auto;
}
.development-block-elm ul{
    list-style-type: none;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 16px;
    margin: 0px;
    padding: 0px 0px 24px;
    width: 70rem;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
}

.development-block-elm ul li{
    display: flex;
}

.development-content{
    background: #fff;
    border: solid 1px;
    border-color: #C7C7C7;
    border-radius: 4px;
    padding: 40px 16px;

}
.development-content p{
    font-family: sans;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.developers-content-list{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    gap: 24px;
}
/* 
.developers-content-list-elm div{
    width: 166px;
} */

.developers-content-list-elm svg{
    width: 24px;
    height: 24px;
    display: inline;
    line-height: 1em;
    margin-right: 8px;
}

.company-block{
    padding-inline: 16px;
    margin: auto;
    max-width: 100%;

}

.company-block h2{
    font-family: "PolySans Neutral" ;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin: -4px 0 4px 0;
}
.company-logs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 33px 24px;
}

.explore-block{
    padding-inline: 16px;
    margin: auto;
    max-width: 100%;
}

.explore-block-content{
    border: solid 1px;
    border-color: #C7C7C7;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 40px 16px;
}

.explore-block-content h2{
    font-family: "PolySans Neutral" ;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: -4px 0 4px 0;
}
.explore-content-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.explore-content-list a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: currentColor;
    color: #2015FF;
    fill: #2015FF;
    box-shadow: inset 0 0 0 2px #2015FF;
    white-space: nowrap;
    padding: 12px 16px 12px 30px;
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}


.explore-content-list a span{
    display: inline-flex;
    align-self: center;
    margin-inline-start: 0.5rem;
}
.explore-content-list a span svg{
    width: 24px;
    height: 24px;
}
.start-block{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #171A53;
    color: #fff;
    overflow: hidden;
    padding-top: 64px;
    position: relative;
    text-align: center;
}
.start-block-content{
    animation: animation 20000ms infinite linear;
    height: 353px;
    left: 50%;
    position: absolute;
    width: 548px;
}

@keyframes animation {
    0%{
        transform: translate(-50%,0%);
        top: 100%;
    }
    100%{
        transform: translate(-50%,-100%);
        top: 0%;
    }
}


.start-block-content img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* color: transparent; */
}

.start-block-elm {
    margin: auto;
    max-width: 100%;
    position: relative;
    z-index: 2;
    padding-inline: 16px;
}
.start-block-elm1{
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    justify-content: center;
}

.start-block-elm1 p{
    max-width: 900px;
    margin: auto;
    font-size: 1rem;
    line-height: 150%;
}
.start-block-elm1 h2{
    font-family: "PolySans Neutral" ;
    font-weight: 400;
    font-size: 40px;
    line-height:48px;
    margin: 4px 0 4px 0;
    /* margin: 0; */
}

.start-block-btn{
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center;
}
.start-block-btn a{
    display: inline-flex;
    color: #0B0B0B;
    background-color: #00C5A1;
    padding: 12px 24px 12px 32px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 1rem;
    height: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.start-block-btn a span{
    margin-left: 8px;
}
.start-block-btn a span svg{
    height: 24px;
    width: 24px;
}
.start-block-eye{
    padding: 16px;
    padding-right: 0;
    padding-top:calc(64px - 16px - 24px) ;
    display: flex;
    justify-content: flex-end;
}
.start-block-eye button{
    display: inline-flex;
    justify-content: center;
    position: relative;
    outline: 2px solid transparent;
    border-radius: 4px;
    background-color: #FFFFFF;
    fill: #0B0B0B;
    padding: 0px;
    height: 24px;
    width: 24px;
}


.footer-block{
    border-top: solid 1px #C7C7C7;
    padding-inline: 16px;

}

footer{
 padding: 64px 0;
}

.footer-logo{
    font-size: 1rem;
    line-height:150%;
    font-weight: 700;
    position: relative;
    display: flex;
    /* width: fit-content */
    width: 100%;

}
.footer-logo img{
    width: 170px;
}

.footer-dropDown{
    display: block;
}

.footer-dropDown-elm{
    min-height: 1rem;
}

.footer-dropDown-elm button{
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 150%;
    font-weight: 600;
    border: 1px solid #C7C7C7;
    border-bottom: 0;
    padding: 1rem 1rem 1rem 1.5rem;
}

.footer-dropDown-elm button span{
    flex: 1;
    text-align: left;
    font-size: 16px;
    font-weight: 600;

}
.footer-dropDown-elm button svg{
    width: 2rem;
    height: 2rem;
    display: inline-block;
    line-height: 1rem;
    font-size: 2rem;
}
.footer-btns{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.footer-btns-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
}
.footer-btns-form-elm {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
}

.footer-btns-form-elm1{
    display: flex;
    justify-content: space-between;
}
.footer-label{
    display: flex;
    /* align-items: center; */
    font-weight: 600;
    line-height: 150%;
}
.footer-btns-form-elm1 button{
    background-color: transparent;
    height: 24px;
    padding-right: 0;
    padding-top: 0;
}
.footer-btns-form-elm1 button svg{ 
    height: 24px;
    width: 24px;
}
.footer-btns-form-elm input{
    border: 1px solid #808080;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 48px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding: 14px 16px 10px 16px;
}

.footer-btns-form-elm input::placeholder{
    font-size: 16px;
    font-family: sans;
}
.subscribe-btn{
    font-family: sans;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 600;
    padding: 12px 24px;
    font-size: 16px;
    background: transparent;
    color: #2015FF;
    border: 2px solid #2015FF;
    height: 48px;
}

.social-medias{
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}





.social-medias li{
    /* list-style: none;
    text-decoration: underline;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: #2015FF;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 700;
    position: relative; */
    list-style: none;
    height: 32px;
    width: 32px;
}
/* .social-medias li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--chakra-colors-transparent);
    border-radius: var(--chakra-radii-base);
    border: solid 2px;
    border-color: var(--chakra-colors-transparent);
    transition: all .1s;
    left: 50%;
    top: 50%;

} */
.social-medias li img{
    height: 32px;
    width: 32px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1px;
}
.footer-space{
    height: 24px;
    border-bottom: 1px solid gray;
    margin-bottom: 26px;
}

.footer-description{
    max-width: 100%;
    font-family: sans;
    /* font-size: 12px; */
    line-height: 150%;
}

.footer-description small{
    line-height: 24px;
    /* line-height: 150%; */
    font-size: 0.75rem;
}

.footer-links-elm{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 14px;
}

.footer-links-elm a{
    font-weight: 700;
    position: relative;
    font-size: 1rem;
    line-height: 150%;
    color: #0B0B0B; 
}








@media screen and (min-width: 480px) {
    .header-container-elm1-a img{
       max-width: 100px;
    }
}

@media screen and (min-width: 768px) {
    .main-comtainer2{
        padding-inline: 24px;
        flex-direction: row;
    }
    .main-container2-elm1{
        flex: 0 1 448px;
        padding: 95px 0px;
    }
    .main-container2-elm2 {
        flex: 1 0 560px;
    }
    .main-container2-elm2 img{
        max-width: 100%;
        height: auto;
    }
    .main-container2-elm1 h1{
        font-size: 32px;
    }
    .main-container-img {
        top: 0;
    }
    .learning-cotent{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .learning-cotent-elm1 {
        position:static;
        margin-bottom: 24px;
        
    }
    .learning-element ul li{
        padding-top: 24px;
    }
    .learning-block1{
        padding-inline: 24px;
    }
    .learning-block1 h2{
        font-size: 1.75rem;
    }
    .learning-block2-elm1 div{
        padding-inline: 0;
    }
    .learning-element-para{
        max-width:640px ;
    }
    .learning-block2-elm2{
        padding-inline: 24px;
    }
    .learnig-para{
        font-size: 1.25rem;
        line-height: 2rem;
    }
    .popular-block{
        padding-inline: 24px;
    }
    .development-block-elm ul{
        padding-inline: 24px;
    }
    .company-block {
        padding-inline: 24px;
    }
    .explore-block{
        padding-inline: 24px;
    }
    .explore-content-list{
        justify-content: unset;
    }
    .start-block-btn a{
        width: fit-content;
    }
    .start-block-elm{
        padding-inline: 24px;
    }
    .footer-btns-form{
        flex-direction: row;
        align-items: flex-end;
    }
    .footer-btns {
        flex-direction: row;
        align-items: flex-end;
    }
    .footer-space {
        height: 24px;
        border-bottom: 1px solid transparent;
        margin-bottom: 0px;
    }
    .footer-block{
        padding-inline: 24px;
    }

    .footer-btns{
        gap: 16px;
    }
    .social-medias li img{
        /* height: 31px;
        width: 31px; */
    }
    .social-medias li {
        /* height: 31px;
        width: 31px; */
    }
    .footer-btns-form{
        gap: 8px;
    }
}









@media screen and (min-width: 992px){
    .header-container-elm1-a img{
        max-width: 170px;
     }
    .header-container-elm1-div{
        display: block;
        display: flex;
        align-items: center;
    }
    .header-elements{
        display: flex;
    }
    .header-elements-btn1{
        font-family: sans;
        display: flex;
        font-weight: 600;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-inline: 1rem;
        align-items: center;
        background: transparent;
        font-size: 16px;
    }
    .header-elements-btn1 svg{
        display: inline-block;
        line-height: 1em;
        flex-shrink: 0;
        color: #0B0B0B;
        vertical-align: middle;
        height: 1.5rem;
        width: 1.5rem;
        transition: 0.2s;
        transform: rotate(0deg);
    }
    .header-elements-btn2{
        cursor: pointer;
        outline: transparent solid 2px;
        outline-offset: 2px;
        font-size: 1rem;
        line-height: 150%;
        position: relative;
        font-weight: 600;
        text-decoration: none;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-inline: 1rem;
        font-size: 16px;
    }
    .display-none{
        display: none;
    }
    .display-block{
        display: block;
    }
    .header-container-elm2-log{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }
    .login-btn{
        display: inline-flex;
        align-items: center;
        color: rgb(32, 21, 255);
        fill: rgb(32, 21, 255);
        box-shadow: rgb(32, 21, 255) 0px 0px 0px 2px inset;
        white-space: nowrap;
        outline: transparent solid 2px;
        padding: 0.75rem 1.5rem;
        transition: 0.2s;
        border-color: currentcolor;
        flex: 1 1 0%;
        font-weight: 600;
        height: 3rem;
        border-radius: 4px;
    }
    .join-btn{
        display: inline-flex;
        color: rgb(255, 255, 255);
        background-color: rgb(32, 21, 255);
        fill: rgb(255, 255, 255);
        white-space: nowrap;
        outline: transparent solid 2px;
        border-radius: 4px;
        padding: 0.75rem 1.5rem;
        transition: 0.2s;
        flex: 1 1 0%;
        font-weight: 600;
        height: 3rem;
        align-items: center;
    }
    .header-container-elm2{
        gap: 1rem;
    }
    .main-comtainer2{
        padding-inline: 48px;
    }
    .learning-block2-elm2{
        padding-inline: 48px;
    }
    .learning-block {
        padding: 64px 0;
    }
    .learning-block1{
        padding-inline: 48px;
        margin: 3px 0 -3px 0;
        word-spacing: -1px;
    }
    .learnig-space {
        height: 64px;
    }
    .learning-cotent-elm2 article {
        min-width: 190px;
        max-height: 290px;
        background-color: #fff;
    }   
    .popular-block{
        padding-inline: 48px;
    }
    .development-block-elm ul{
        padding-inline: 48px;
    }
    .company-block {
        padding-inline: 48px;
    }
    .explore-block{
        padding-inline: 48px;
    }
    .start-block-elm{
        padding-inline: 48px;
    }

    .footer-block{
        padding-inline: 48px;
    }
    .social-medias li {
        height: 27px;
        width: 27px;
    }
    .social-medias li img{
        height: 27px;
        width: 27px;
    }

}















@media screen and (min-width:1120px){
    .main-comtainer2{
        max-width: 1120px;
        margin: 0 auto;
        padding: 0;
    }
}





@media screen and (min-width: 1535px) {
    .display-none-1535{
        display: block;
    }
    .display-block-1535{
        display: none;
    }
    .header-container-elm2-search2 {
        position: absolute;
        right: 100%;
        width: 20rem;
        margin-inline-end: 1rem;
        height: 100%;
        transition: 0.3s ease-in-out;
    }
    .search-btn{
        display: flex;
        isolation: isolate;
        transition: 0.3s ease-in-out;
        width: 20rem;
        margin: auto;
        position: relative;
        z-index: 2;
    }
    .navbar{
        position: fixed;
        background: #ffff;
        width: 100vw;
        height: 4rem;
        top: 0px;
        right: 0px;
        z-index: 1;
        transition: opacity 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-inline: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        opacity: 0;
        pointer-events: none;
    }
    .search-btn-elm1{
        left: 0px;
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        z-index: 2;
        pointer-events: none;
    }
    .search-btn-elm1 svg{
        display: inline-block;
        line-height: 1em;
        flex-shrink: 0;
        color: currentcolor;
        vertical-align: middle;
        width: 1.5rem;
        height: 1.5rem;
    }
    .search-btn input{
        width: 100%;
        height: 3rem;
        font-size: 1rem;
        padding-inline-start: 3rem;
        padding-inline-end: 1rem;
        min-width: 0px;
        outline-offset: 2px;
        position: relative;
        appearance: none;
        background-color: #F6F6F6;
        outline: transparent solid 2px;
        padding: 0px 2.75rem;
        border-radius: 9999px;
        border: 0;
        font-size: 16px;
        font-family: sans;
    }
    input::placeholder{
        color:rgb(29, 29, 29)
        ;
    }


}
